In [1]:
import os
import pandas as pd

In [2]:
path = 'C:/Users/user/Desktop/ZABEZPIECZENIA'
files = os.listdir(path)

In [3]:
for file in files:
    nazwa = f'{path}/{file}'

In [4]:
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\user\appdata\roaming\python\python310\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\roaming\python\python310\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
file = pd.read_excel(nazwa, skiprows = 12, usecols = ('B:E'))

    Unnamed: 1 Unnamed: 2    Unnamed: 3           Unnamed: 4
0            5    BAR1130  PL0029200025           25.11.2030
1            6    BBL1134  PLO358400102  2034-11-25 00:00:00
2            7    CHE0936  PLO284100065  2036-09-27 00:00:00
3            8    CHE1032  PLO284100032  2032-10-10 00:00:00
4            9    CHE1033  PLO284100040  2033-10-28 00:00:00
..         ...        ...           ...                  ...
230        227    EUR1027  XS1584894650           22.10.2027
231        228    EUR0349  XS1960361720  2049-03-08 00:00:00
232        229    EUR0532  XS2447602793  2032-05-25 00:00:00
233        230    EUR0233  XS2586944659  2033-02-14 00:00:00
234        231    EUR0243  XS2586944147  2043-02-14 00:00:00

[235 rows x 4 columns]

In [22]:
file.rename(columns = {'Unnamed: 1': 'Liczba', 'Unnamed: 2': 'Nazwa', 'Unnamed: 3': 'ISIN', 'Unnamed: 4': 'Data wykupu'}, inplace = True)

In [25]:
file['Data wykupu'] = pd.to_datetime(file['Data wykupu'], dayfirst=True)

In [36]:
file['Liczba'] = pd.to_numeric(file['Liczba'], errors='coerce')

array([  5.,   6.,   7.,   8.,   9.,  10.,  11.,  12.,  13.,  14.,  15.,
        16.,  17.,  18.,  19.,  20.,  21.,  22.,  23.,  24.,  25.,  26.,
        27.,  28.,  29.,  30.,  31.,  32.,  33.,  34.,  35.,  36.,  37.,
        38.,  39.,  40.,  41.,  42.,  43.,  44.,  45.,  46.,  47.,  48.,
        49.,  50.,  51.,  52.,  53.,  54.,  55.,  56.,  57.,  58.,  59.,
        60.,  61.,  62.,  63.,  64.,  65.,  66.,  67.,  68.,  69.,  70.,
        71.,  72.,  73.,  74.,  75.,  76.,  77.,  78.,  79.,  80.,  81.,
        82.,  83.,  84.,  85.,  86.,  87.,  88.,  89.,  90.,  91.,  92.,
        93.,  94.,  95.,  96.,  97.,  98.,  99., 100., 101., 102., 103.,
       104., 105., 106., 107., 108., 109., 110., 111., 112., 113., 114.,
       115., 116., 117., 118., 119., 120., 121., 122., 123., 124., 125.,
       126., 127., 128., 129., 130., 131., 132., 133., 134., 135., 136.,
       137., 138., 139., 140., 141., 142., 143., 144., 145., 146., 147.,
       148., 149., 150., 151., 152., 153., 154., 155., 156., 157., 158.,
       159., 160., 161., 162., 163., 164., 165., 166., 167., 168., 169.,
       170., 171., 172., 173.,  nan, 174., 175., 176., 177., 178., 179.,
       180., 181., 182., 183., 184., 185., 186., 187., 188., 189., 190.,
       191., 192., 193., 194., 195., 196., 197., 198., 199., 200., 201.,
       202., 203., 204., 205., 206., 207., 208., 209., 210., 211., 212.,
       213., 214., 215., 216., 217., 218., 219., 220., 221., 222., 223.,
       224., 225., 226., 227., 228., 229., 230., 231.])

In [42]:
file = file.dropna()